RewriteEngine on

RewriteCond  %{HTTP_HOST}  ^hill-park\.ru$ [OR]
RewriteCond  %{HTTP_HOST}  ^www\.hill-park\.ru$ [OR]
RewriteCond  %{HTTP_HOST}  ^www\.hillpark\.ru$
RewriteRule  ^(.*)  http://hillpark.ru/$1  [R=permanent]

RewriteRule  ^catalogue/hill-park-290/?$  /catalogue/hill-park-221  [R=permanent]
RewriteRule  ^catalogue/hill-park-443/?$  /catalogue/hill-park-109  [R=permanent]
RewriteRule  ^catalogue/hill-park-447/?$  /catalogue/hill-park-164  [R=permanent]
RewriteRule  ^catalogue/hill-park-361/?$  /catalogue/hill-park-108  [R=permanent]
RewriteRule  ^catalogue/hill-park-377/?$  /catalogue/hill-park-126  [R=permanent]
RewriteRule  ^catalogue/tropical-garden-267/?$  /catalogue/hill-park-222  [R=permanent]
RewriteRule  ^catalogue/tropical-garden-408/?$  /catalogue/hill-park-256-1  [R=permanent]
RewriteRule  ^catalogue/slim-house-375/?$  /catalogue/hill-park-256-2  [R=permanent]

DirectoryIndex index.html index.shtml

AddType "text/html; charset=UTF-8" .html
AddType "text/html; charset=UTF-8" .shtml

AddOutputFilter INCLUDES .shtml
