Options FollowSymLinks Includes
Require all granted

RewriteEngine on

RewriteCond  %{HTTP_HOST}  ^hill-park\.ru$ [OR]
RewriteCond  %{HTTP_HOST}  ^www\.hill-park\.ru$ [OR]
RewriteCond  %{HTTP_HOST}  ^www\.hillpark\.ru$
RewriteRule  ^(.*)  http://hillpark.ru/$1  [R=permanent]

RewriteRule  ^catalogue/hill-park-290/?$  /catalogue/hill-park-221  [R=permanent]
RewriteRule  ^catalogue/hill-park-443/?$  /catalogue/hill-park-109  [R=permanent]
RewriteRule  ^catalogue/hill-park-447/?$  /catalogue/hill-park-164  [R=permanent]
RewriteRule  ^catalogue/hill-park-361/?$  /catalogue/hill-park-108  [R=permanent]
RewriteRule  ^catalogue/hill-park-377/?$  /catalogue/hill-park-126  [R=permanent]
RewriteRule  ^catalogue/tropical-garden-267/?$  /catalogue/hill-park-222  [R=permanent]
RewriteRule  ^catalogue/tropical-garden-408/?$  /catalogue/hill-park-256-1  [R=permanent]
RewriteRule  ^catalogue/slim-house-375/?$  /catalogue/hill-park-256-2  [R=permanent]
RewriteRule  ^catalogue/slim-house-168/?$  /catalogue/hill-park-257-2  [R=permanent]

AddType "text/html" .shtml
AddOutputFilter INCLUDES .shtml

# Apache mod_deflate bug workaround: remove trailing "-gzip" from Etag to allow server-side Etag match
Header edit "ETag" "^\"(.*)-gzip\"$" "\"$1\""

AddOutputFilterByType DEFLATE text/html text/css application/javascript

DirectoryIndex index.html index.shtml

AddDefaultCharset utf-8

<FilesMatch ".+\.(html|shtml)$">
    Header set Cache-Control "no-cache"
</FilesMatch>

<FilesMatch "^(fonts\.css|kaptenen\.css|kaptenen\.js)$">
    Header set Cache-Control "no-cache"
</FilesMatch>

<FilesMatch ".+\.(gif|jpg|jpeg|png)$">
    Header set Cache-Control "must-revalidate, max-age=3600"
</FilesMatch>
