<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to main domain" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^hill-park.ru$" />
                        <add input="{HTTP_HOST}" pattern="^www.hill-park.ru$" />
                        <add input="{HTTP_HOST}" pattern="^www.hillpark.ru$" />
                    </conditions>
                    <action type="Redirect" url="http://hillpark.ru{URL}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Hill Park 290" stopProcessing="true">
                    <match url="catalogue/hill-park-290" />
                    <action type="Redirect" url="catalogue/hill-park-221" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Hill Park 443" stopProcessing="true">
                    <match url="catalogue/hill-park-443" />
                    <action type="Redirect" url="catalogue/hill-park-109" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Hill Park 447" stopProcessing="true">
                    <match url="catalogue/hill-park-447" />
                    <action type="Redirect" url="catalogue/hill-park-164" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Hill Park 361" stopProcessing="true">
                    <match url="catalogue/hill-park-361" />
                    <action type="Redirect" url="catalogue/hill-park-108" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Hill Park 377" stopProcessing="true">
                    <match url="catalogue/hill-park-377" />
                    <action type="Redirect" url="catalogue/hill-park-126" redirectType="Permanent" />
                </rule>
                <rule name="Redirect TROPICAL GARDEN 267/90" stopProcessing="true">
                    <match url="catalogue/tropical-garden-267" />
                    <action type="Redirect" url="catalogue/hill-park-222" redirectType="Permanent" />
                </rule>
                <rule name="Redirect TROPICAL GARDEN 408" stopProcessing="true">
                  <match url="catalogue/tropical-garden-408" />
                  <action type="Redirect" url="catalogue/hill-park-256-1" redirectType="Permanent" />
                </rule>
                <rule name="Redirect SLIM HOUSE 375/169" stopProcessing="true">
                    <match url="catalogue/slim-house-375" />
                    <action type="Redirect" url="catalogue/hill-park-256-2" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>

	<staticContent>
      	    <remove fileExtension=".woff" />
      	    <remove fileExtension=".woff2" />
      	    <remove fileExtension=".eot" />
      	    <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
    	</staticContent>    
    </system.webServer>
</configuration>